.footer {
  background: linear-gradient(135deg, #4b4242, #87614a);
  color: #fff;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  position: relative; /* Relative position to ensure it's part of the document flow */
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer-logo {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-description {
  font-size: 1rem;
  margin-bottom: 20px;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 800px;
}

.footer-links div {
  flex: 1;
}

.footer-links h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  line-height: 1.6;
}

.footer-links a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin: 5px 0;
  font-size: 0.9rem;
  transition: color 0.3s ease;
  line-height: 1.6;
}

.footer-links a:hover {
  color: #ffeb3b;
}

.footer-social {
  margin-top: 20px;
}

.footer-social a {
  color: #fff;
  margin: 0 10px;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.footer-social a:hover {
  color: #ffeb3b;
}

.footer p:last-of-type {
  font-size: 0.8rem;
  margin-top: 10px;
}