/* src/styles/Footer.css */
.footer {
  background: linear-gradient(135deg, #4b4242, #87614a);
  color: #fff;
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 20px 0;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0%;
  position: absolute;
  left:0;

}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-left {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width:100vw;
}

.logo-image {
  flex: 1;
  border-radius:90px;
}

.logo-image {
  max-width: 150px;
}

.footer-links {
  flex: 2;
  display: flex;
  justify-content: space-between;
}

.footer-links div {
  flex: 1;
}

.footer-links h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer-links a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin: 5px 0;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #ffeb3b;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-social {
  margin-bottom: 10px;
}

.footer-social a {
  color: #fff;
  margin: 0 10px;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.footer-social a:hover {
  color: #ffeb3b;
}

.footer p {
  font-size: 0.8rem;
  margin: 0;
  text-align: center;
}
