.header {
  width: 100%;
  background-color: white; 
  color: black;
  padding: 10px 0;
  position: relative;
  z-index: 1000;
 
}

/* Navbar container */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space between brand and links */
  padding: 0 80px 20px;
}

/* Brand styling */
.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  height: 100px; /* Adjust size of the logo */
}

/* Links container */
.navbar-links {
  display: flex;
  align-items: center;
}

/* Links styling */
.navbar-links a {
  color: black;
  text-decoration: none;
  margin-left: 40px; /* Space between menu items */
  font-size: 1.1rem;
}

.navbar-links a:hover {
  color: #ffeb3b; /* Optional: change color on hover */
}



/* Responsive adjustments */

/* Tablets and below */
@media (max-width: 992px) {
  .navbar-links a {
    margin-left: 20px;
    font-size: 1rem;
  }

  .navbar-socials a {
    margin-left: 10px;
    font-size: 1.2rem;
  }
}

/* Phones and small devices */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar-links {
    margin-top: 10px;
  }

  .navbar-links a {
    font-size: 0.9rem;
    margin-left: 15px;
  }

  .navbar-socials {
    margin-top: 10px;
  }

  .navbar-socials a {
    font-size: 1rem;
    margin-left: 10px;
  }
}
