body {
  font-family: Arial, Helvetica, sans-serif;
}

.home-container {
  width: 100%;
  background-color: #fff;
  position: relative;
  overflow-x: hidden;
}

.hero-section {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-bottom: 5%;
  text-align: center;
  color: black;
  padding: 0 20px;
  animation: zoomIn 1s ease-in-out;
}

.hero-text {
  z-index: 1;
}

.hero-images-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 20px;
}

.hero-image {
  flex: 1;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
}

.hero-image.small {
  width: 30%;
  margin: 0 10px;
}

.hero-image.large {
  width: 40%;
  margin: 0 10px;
}

.hero-title {
  font-size: 3.5rem;
  color: rgb(150, 88, 57);
}

.hero-tagline {
  font-size: 1.5rem;
  color: #666;
}

/* About Section */
.about-section {
  background-color: #957369;
  padding: 50px 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  transform: translateY(20px);
  transition: transform 0.5s ease-out;
}

.about-section.slide-up {
  transform: translateY(0);
}

.about-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  gap: 20px;
}

.about-text-container {
  flex: 1;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-title {
  font-size: 3rem;
  margin-bottom: 10px;
  color: white;
}

.about-description {
  font-size: 1.2rem;
  margin-bottom: 20px;
  line-height: 1.6;
  color: white;
  text-align: left;
}

.about-button, .about-button a {
  padding: 20px 20px 20px;
  background-color: white;
  color: black;
  font-size: 1rem;
  border-radius: 0px;
  cursor: pointer;
  text-decoration: none; /* Ensures no underline on link */
  display: inline-block; /* Makes sure the link behaves like a button */
}

.about-button:hover {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.about-image-container {
  flex: 1;
  max-width: 50%;
  text-align: right;
}

.about-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
}

/* Services Section */
.service-home {
  padding: 60px 20px;
  text-align: center;
}

.service-home-title {
  font-size: 2.8rem;
  margin-bottom: 40px;
  color: #333;
  font-weight: bold;
}

.service-home-cards-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 40px;
}

.service-home-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 280px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  border: 1px solid #ddd;
}

.service-home-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.service-home-icon {
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: #333;
}

.service-home-card-title {
  font-size: 1.6rem;
  margin-bottom: 10px;
  font-weight: bold;
  color: #444;
}

.service-home-card-description {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
}

.service-home-button, .service-home-button a {
  padding: 20px 30px 20px;
  background-color: black;
  color: white;
  font-size: 1rem;
  border-radius: 0px;
  cursor: pointer;
  text-decoration: none; /* Ensures no underline on link */
  display: inline-block; /* Makes sure the link behaves like a button */
  margin-top: 5%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.service-home-button:hover {
  background-color: transparent;
  color: black;
  border: 1px solid black;
}

.contact-section {
  padding: 50px 20px;
  background-color: #eee;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

@keyframes zoomIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Contact Section */
.contact-section {
  padding: 50px 20px;
  background-color: white;
  margin-top: 10%;
  border-top: 2px dashed black;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}

.collage-container {
  display: flex;
  gap: 20px;
  position: relative;
  width: 50%;
}

.collage-image {
  object-fit: cover;
  border-radius: 10px;
}

.image1 {
  height: 300px;
  width: 200px;
  z-index: 3;
}

.image2 {
  height: 400px;
  width: 250px;
  margin-top: -100px; /* Adjust this value to overlap */
  z-index: 2;
}

.image3 {
  height: 200px;
  width: 150px;
  margin-top: -50px; /* Adjust this value to overlap */
  z-index: 1;
}

.contact-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-title {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #333;
}

.contact-description {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #666;
  line-height: 1.6;
}

.contact-button {
  padding: 25px 20px 25px;
  background-color: rgb(188, 138, 114);
  color: white;
  font-size: 1.2rem;
  border-radius: 0px;
  cursor: pointer;
  max-width: 20vw;
  margin-left: 30%;
  text-decoration: none; /* Ensures no underline on link */
}

.contact-button:hover {
  background-color: white;
  color: black;
  border-color: black;
}
